@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.hover-side:hover{
    background-color: #718ADE;
}

.bg-close{
    background-color: #4264D0;
}

body {
    background-color: #F4f4f4;
}


